/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
  background: #004012;
}

.color-2 {
  background: #E81000;
}

.color-3 {
  background: #FFBB1A;
}

.color-4 {
  background: #FFFFFF;
}

.color-5 {
  background: #3399FF;
}

/*.color-2 {
  background: '#E81000';
}

.color-3 {
  background: '#FFBB1A';
}

.color-4 {
  background: '#FFFFF';
}

.color-5 {
  background: '#3399FF';
}*/

/* Textures or Patterns*/


/* Imagery */


/* Icons */


/* Navigation */


/* Typography */
